server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tickethub
    username: tickethub
    password: tickethub

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-migration-naming: true